extends baseEmail
block content 
  p Hi #{username},
    p Someone tried to get access to your account! As a result, account was frozen!
    p If it was you, please wait 10 minutes untill login becomes active
    p - AniPortal team