extends baseEmail
block content 
  p Hi #{username},
    p Someone tried to get access to your account! As a result, account was frozen!
    p If it was ypu, please either change yout password or try again in 10 minutes!
    p - AniPortal team