header.header
  nav.nav-menu
    a.logo-title.nav-element(href="/")
      span AniPortal
    ul.nav-list.left
      li
        a(href="/overview") Anime
      li
        a(href="#") Random show
      li.no-underline
        form.search-form(action="")
          input.search-field(type="search", placeholder="Search anime...")
          button.search-button
            ion-icon.search-icon(name="search-outline")
      
      - if (user)
        -if(user.role === 'admin')
          li.admin
            a.user-profile-link(href='/admin/reviews') Admin
        li.profile
          a.user-profile-link(href='/me/settings')
            //- div.nav-profile-img-container Hello
            img(src=`/img/users/${user.avatar}` class='nav-profile-pic')
            span.user-name= user.username 
        li.logout
          //- a(href="/logout") Logout
          button.logout-btn Logout
      - else 
        li.sign-up
          a(href="/sign-up") Sign Up
        li.login
          a(href="/login") Login
    button.btn-mobile-nav
      ion-icon.icon-mobile-close.icon-nav(name="close-outline")
      ion-icon.icon-mobile-open.icon-nav(name="menu-outline")