extends base

block content 
  form.psswd-reset-form
    label.form-label(for="email")
      | Please, enter the email to which the reset password link will be sent:
    input.form-input(type="email" id="email" placeholder="user@example.com")
    button.send-reset-token.form-btn
      span.form-btn-text Send reset token
