extends base 
block content
  form.psswd-reset-form(data-user=username)
    label.form-label(for="new") New password:
    input.form-input(type="password" id="new")
    label.form-label(for="confirm") Confirm password:
    input.form-input(type="password" id="confirm")
    button.send-reset-token.form-btn
      span.form-btn-text Change password
