/* 
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* GENERAL */
:root {
  --font-default: 'Rubik', sans-serif;
  --font-alter: 'Lobster', sans-serif;

  --font-color-dark: #555;
  --font-color-light: #fff;

  --background-color: #495057;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--font-color-dark);
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
.header {
  height: 7.2rem;
  background-color: var(--background-color);
  color: var(--font-color-light);
}

.nav-menu {
  width: 80%;
  height: 7.2rem;
  margin: 0 auto;
  display: flex;
  font-size: 2rem;
  position: relative;
}

.logo-title {
  font-size: 3.6rem;
  font-family: var(--font-alter);
  font-weight: 700;
  margin-right: 3.8rem;
}

.nav-element {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.nav-list li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
  border-bottom: 3px solid transparent;
  transition: all 200ms;
}

.nav-list li:hover {
  border-bottom-color: var(--font-color-light);
}

.nav-list .no-underline:hover {
  border-bottom-color: transparent;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  padding-right: 0.7rem;
}

.search-field {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 15px;
  font-family: inherit;
}

.search-button {
  background-color: transparent;
  border: none;
  transition: all 200ms;
}

.search-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.search-icon {
  color: #fff;
  font-size: 3rem;
}

.nav-list {
  flex: 1;
}

.sign-up {
  margin-left: auto;
}

/* MOBILE NAV */
.btn-mobile-nav {
  background: transparent;
  display: none;
}

.btn-mobile-nav:hover {
  cursor: pointer;
}

.icon-nav {
  color: white;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}

.icon-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.icon-nav:hover::before {
  opacity: 1;
}

.icon-mobile-close {
  display: none;
}

.open .icon-mobile-open {
  display: none;
}

.open .icon-mobile-close {
  display: block;
}

/* MAIN */
main {
  padding: 5rem 0;
  background-image: url('../img/wallpaper.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.459);
  z-index: -1;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10rem;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 5rem;
  border-radius: 20px;
  box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.568);
}

.posted-by {
  font-weight: 500;
}

.chat-msg-unit .posted-by-general,
.review-message .posted-by-general,
.review-message .rev-anime {
  font-size: 1.2rem;
}

/* ASIDE BAR */
.aside {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* LATEST ANIME REVIEWS AKA USER COMMENTS */
/* SHARED */
.aside-container {
  background-color: #dee2e6;
  padding: 2rem;
  border-radius: 20px;
  border: 3px solid #555;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.363);
}

.reviews-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* SHARED */
.img-container {
  display: flex;
  align-items: center;
}
/* SHARED */
.profile-pic {
  width: 4rem;
  border-radius: 50%;
}

.review {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}

.review-message {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-wrap: break-word;
}

.blue-under-link {
  text-decoration: underline;
  color: blue;
}

.blue-under-link:hover {
  text-decoration: none;
}

.aside-little-bold {
  font-weight: 500;
}

.rev-posted-by {
  grid-column: 1;
  font-size: 1rem;
}

.rev-anime {
  grid-column: 2;
  font-size: 1rem;
}

.rev-icon {
  width: 1.2rem;
}

.rev-comment {
  grid-column: 1 / span 2;
}

/* CHAT */
.chat {
  height: 45rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.chat-title {
  margin-bottom: 0rem;
}

.chat-texts {
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
}

.chat-texts::-webkit-scrollbar {
  width: 1rem;
}

.chat-texts::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.chat-texts::-webkit-scrollbar-track {
  background-color: #bbb;
  border-radius: 10px;
}

.chat-message {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  background-color: #fff;
}

.chat-msg-unit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.send-text-form {
  display: flex;
  gap: 1rem;
}

.typing-field {
  font-family: inherit;
  resize: none;
  width: 100%;
  padding: 0.5rem;
}

.send-to-chat {
  background-color: transparent;
  border: none;
  color: #495057;
  transition: all 200ms;
}

.send-to-chat:hover {
  cursor: pointer;
  color: #000;
}

.send-icon {
  width: 2rem;
  height: 2rem;
}

/* FOR SSR */
.article {
  /* border: 3px solid green; */
}

/* FOOTER */
.footer {
  height: 7.2rem;
  display: flex;
  background-color: var(--background-color);
  color: #fff;
  justify-content: center;
}

.footer-text {
  display: flex;
  align-items: center;
}

/* ANIME */
/* IMG AND SHOT INFO */
.anime-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4.8rem;
  row-gap: 6.4rem;
}

.anime-main-img {
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.308);
}

.stat-data {
  display: flex;
  flex-direction: column;
}

.anime-title {
  font-weight: 700;
  font-size: 4.4rem;
}

.japanese-title {
  font-size: 2rem;
  margin: 0.5rem 0 2.2rem;
  color: #777;
}

.anime-rating {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.ani-rate-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #fab005;
}

.num-rate {
  font-size: 2.4rem;
  font-weight: 500;
}

.short-info {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4.8rem;
  row-gap: 1rem;
  margin-top: auto;
  margin-bottom: 1rem;
}

.anime-label {
  font-size: 2rem;
  font-weight: 500;
}

.anime-data {
  font-size: 2rem;
}

/* SUMMARY */

.description {
  grid-column: span 2;
}

.summary-title-container {
  display: flex;
  font-size: 3rem;
}

.add-border {
  flex: 7;
  display: flex;
  gap: 1rem;
  padding-left: 0.5rem;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 3.2rem;
}

.add-border::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  /* background: rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.233);
}

.no-border {
  flex: 1;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-height: 15rem;
  overflow-y: hidden;
  position: relative;
}

.open-sum.summary {
  max-height: 9999px;
  overflow-y: none;
}

.summary::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, #ffffff00, #f0f0f0);
}

.open-sum.summary::after {
  background: none;
}

.paragraph {
  line-height: 1.6;
}

.center-button {
  display: flex;
  justify-content: center;
}

.show-more {
  justify-self: center;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: var(--font-default);
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #555;
  padding-top: 1rem;
}

.show-more:hover {
  cursor: pointer;
}

.show-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.hidden-icon {
  display: none;
}

/* LEAVE A COMMENT */
.leave-comment-section {
  grid-column: span 2;
}

.leave-review {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
  width: 70rem;
}

.leave-review-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review-label {
  font-weight: 600;
  font-size: 1.8rem;
}

.rate-icons-star {
  width: 2.4rem;
  height: 2.4rem;
}

.rate-icons-star:hover {
  cursor: pointer;
}

.leave-review-rating {
  display: flex;
  align-items: center;
}

.leave-comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  padding: 0.5rem;
  height: 10rem;
  max-width: 70rem;
  resize: none;
}

.send-comment,
.load-more-comments {
  max-width: 70rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  background-color: var(--background-color);
  color: #fff;
}

.send-comment:hover,
.load-more-comments:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--background-color);
}

/* ALL REVIEWS */
.all-reviews {
  grid-column: span 2;
}

.all-comments {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.single-comment {
  padding: 2rem;
  display: flex;
  gap: 3rem;
  background-color: #f1f3f5;
}

.profile-pic-comment {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.comment-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-rate .rev-icon {
  height: 1.8rem;
  width: 1.8rem;
}

.text-comment {
  font-size: 1.8rem;
}

.comment-message .posted-by-general {
  font-size: 1.6rem;
}

.load-more-comments {
  margin-top: 2rem;
  width: 70rem;
}
